<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<!-- the following meta tag is important to avoid cross site scripting attacks: -->
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <title>Search Results for '<!--cgi: query_str-->'</title>
</head>
<body bgcolor=":::grepin-browser-bgcolor:::" text=":::grepin-text-color:::" link=":::grepin-link-color:::" alink=":::grepin-alink-color:::" vlink=":::grepin-vlink-color:::"> 
&nbsp;
<font face=verdana,helvatica,arial>

<table><tr><td align=":::grepin-page-align:::">

<table bgcolor=":::grepin-page-bgcolor:::" WIDTH=":::grepin-page-width:::%" border = "0" cellspacing = "0" cellpadding = "0">
<tr>
<td valign="top" align=":::grepin-top-image-align:::">

:::grepin-start-top-bar:::<IMG src=":::grepin-top-image-url:::" height=:::grepin-top-image-height::: width=:::grepin-top-image-width::: >:::grepin-end-top-bar:::

:::grepin-start-top-title:::<h3>:::grepin-top-title:::</h3><font size=0><a href=":::grepin-home-link:::">home</a></font><br /><br />:::grepin-end-top-title:::

</td>
</tr>

<tr>
<td valign="top">

<table WIDTH="100%" border = "0" cellspacing = "0" cellpadding = "0">
<tr>
<td width=":::grepin-left-bar-width:::" valign="top">

:::grepin-left-bar-html:::

</td>

<td valign="top">
<table bgcolor=":::grepin-srch-bgcolor:::" width=":::grepin-srch-width:::%" align=":::grepin-srch-align:::" border = "0" cellspacing = "0" cellpadding = "0">
<tr>
<td width="3%" valign="top"></td>
<td width="94%" valign="top">

:::search-results:::

</td>

<td width="3%" valign="top"></td>

</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td valign="top" align=":::grepin-bot-image-align:::">

:::grepin-start-bot-bar:::<IMG src=":::grepin-bot-image-url:::" height=:::grepin-bot-image-height::: width=:::grepin-bot-image-width::: align=:::grepin-bot-image-align:::>:::grepin-end-bot-bar:::

</td>
</tr>
</table>

</td></tr></table>

</body>
</html>
