<br>

<font face="verdana, arial, helvetica, sans-serif">

<p>
<p>

<table border="0" cellpadding="0" cellspacing="0" bgcolor="black" width="100%"><tr><td></td></tr></table>

<table border="0" cellpadding="2" cellspacing="0" width="100%">

<tr>
	<td valign="top"><font size=-2><b>Searched for <i><u>queryterms</u></i></b></font>
	</td>
	<td align="right"><font size=-2><b>Results <strong>1 - 10</strong> of <strong>14</strong>, searched 50 documents in  0.51 seconds</font></b>
	</td>
</tr>

</table>

<table border="0" cellpadding="0" cellspacing="0" bgcolor="black" width="100%"><tr><td></td></tr></table>
<font size=0>click on <font face=courier>[>]</font> to open the result in a new window</font>
<br />


<center>

	<form action="http://www.grepin.com/cgi-bin/gsearch" method="get">
		<font size=-2>
		<br />
		<br />
		<input type="hidden" name="uid" value="userid" />
		<input type="hidden" name="p" value="" />
		<input type="hidden" name="i" value="" />
		<input type="hidden" name="e" value="" />
		<input type="hidden" name="priority" value="" />
		<input type="hidden" name="sort" value="" />
		<input type="hidden" name="disp" value="10" />
		<input type="hidden" name="content" value="1" />
		<input type="hidden" name="source" value="grepin" />
		<input type=checkbox name="mode" value="all" >All
		<input type="hidden" name="locale" value="" />
		<input type="hidden" name="category" value="" />
		<input type="hidden" name="bcolor" value="" />
		<input type="hidden" name="fcolor" value="" />
		<input type="hidden" name="aid" value="" />
		<input type="text" name="q" value="queryterms" />
		<input type="submit" value="Search"/><br /><br />
	</form>
	<span style="font-weight:bold;font-size:100%;"></span> [ <strong>1</strong> <a href=#>2</a>  ] <span style="font-weight:bold;font-size:100%;"><a href=#>Next</a></span>
</center>

<br />



<br />

<table WIDTH="100%" bordercolor = "black" border =   "0" cellspacing = "0" cellpadding = "0">
<tr>
<td width="1000" valign="top">

	
	<dl>
	<dt><font size="-1">1. <a href=#>Title of Search Result page 1</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page1.html <br /> 
			<strong>Score:</strong> 100% &nbsp; 
			<strong>Date:</strong> 2004-02-15 &nbsp;
			<strong>Size:</strong> 35 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">2. <a href=#>Title of Search Result page 2</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page2.html <br /> 
			<strong>Score:</strong> 90% &nbsp; 
			<strong>Date:</strong> 2001-09-15 &nbsp;
			<strong>Size:</strong> 23 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">3. <a href=#>Title of Search Result page 3</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page3.html <br /> 
			<strong>Score:</strong> 85% &nbsp; 
			<strong>Date:</strong> 2001-09-15 &nbsp;
			<strong>Size:</strong> 24 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">4. <a href=#>Title of Search Result page 4</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page4.html <br /> 
			<strong>Score:</strong> 80% &nbsp; 
			<strong>Date:</strong> 2004-02-15 &nbsp;
			<strong>Size:</strong> 24 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">5. <a href=#>Title of Search Result page 5</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page5.html <br /> 
			<strong>Score:</strong> 77% &nbsp; 
			<strong>Date:</strong> 2000-10-25 &nbsp;
			<strong>Size:</strong> 13 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">6. <a href=#>Title of Search Result page 6</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page6.html <br /> 
			<strong>Score:</strong> 65% &nbsp; 
			<strong>Date:</strong> 1999-02-15 &nbsp;
			<strong>Size:</strong> 50 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">7. <a href=#>Title of Search Result page 7</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page7.html <br /> 
			<strong>Score:</strong> 57% &nbsp; 
			<strong>Date:</strong> 2003-12-15 &nbsp;
			<strong>Size:</strong> 5 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">8. <a href=#>Title of Search Result page 8</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page8.html <br /> 
			<strong>Score:</strong> 57% &nbsp; 
			<strong>Date:</strong> 2000-02-01 &nbsp;
			<strong>Size:</strong> 3 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">9. <a href=#>Title of Search Result page 9</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page9.html <br /> 
			<strong>Score:</strong> 56% &nbsp; 
			<strong>Date:</strong> 2002-02-10 &nbsp;
			<strong>Size:</strong> 35 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	<dl>
	<dt><font size="-1">10. <a href=#>Title of Search Result page 10</a> <font face=courier><a href=#>[>]</a></font><br />
		<font size="-1">...blah blah blah <B>queryterms</B> blah blah blah...
  	...blah blah blah <B>Queryterms</B> blah blah blah blah blah ...
  	...blah blah blah blah blah <B>QUERYTERMS</B>blah blah blah ...</font><br />
		<font size="0" color="#888888"><strong>URL:</strong> http://www.yoursite.com/page10.html <br /> 
			<strong>Score:</strong> 45% &nbsp; 
			<strong>Date:</strong> 2003-02-15 &nbsp;
			<strong>Size:</strong> 5 kB</font>
		<br />
		<br />
	</dt>
	</dl>
	
	

</td>

<td width="10" valign="top">
</td>

<td width="180" valign="top">

<script src="http://www.grepin.com/cgi-bin/amznbar.pl?type=tower&out=javascript"></script>

</td>
</tr>
</table>

<br />

<center>
	<font size="-2">
	<span style="font-weight:bold;font-size:100%;"></span> [ <strong>1</strong> <a href=#>2</a>  ] <span style="font-weight:bold;font-size:100%;"><a href=#>Next</a></span>
	<br />
	<br />

	<form action="http://www.grepin.com/cgi-bin/gsearch" method="get">
		<font size=-2>
		<input type="hidden" name="uid" value="userid" />
		<input type="hidden" name="p" value="" />
		<input type="hidden" name="i" value="" />
		<input type="hidden" name="e" value="" />
		<input type="hidden" name="priority" value="" />
		<input type="hidden" name="sort" value="" />
		<input type="hidden" name="disp" value="10" />
		<input type="hidden" name="content" value="1" />
		<input type="hidden" name="source" value="grepin" />
		<input type=checkbox name="mode" value="all" >All
		<input type="hidden" name="locale" value="" />
		<input type="hidden" name="category" value="" />
		<input type="hidden" name="bcolor" value="" />
		<input type="hidden" name="fcolor" value="" />
		<input type="hidden" name="aid" value="" />
		<input type="text" name="q" value="queryterms" />
		<input type="submit" value="Search"/><br /><br />
	</form>
</center>

<br />

<table border="0" cellpadding="0" cellspacing="0" bgcolor="black" width="100%"><tr><td></td></tr></table>

<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
	<td><font size=-2><b>Page 1 of 2</b></font></td>
	<td align="right"><b><font size=0>Powered by <a href="http://www.grepin.com/index.html">Grepin.com</a> - a free site search</b></font></td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" bgcolor="black" width="100%"><tr><td></td></tr></table>

</font>

<br>
